<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="parttime_member_listing_data_source" xsi:type="string">Khai\Parttime\Model\ResourceModel\Member\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Khai\Parttime\Model\ResourceModel\Member\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_part_time</argument>
            <argument name="resourceModel" xsi:type="string">Khai\Parttime\Model\ResourceModel\Member</argument>
        </arguments>
    </virtualType>
</config>